body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-weight: 500 !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
  height: fit-content;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222 !important;
}

/* Footer */
.f-info-links a {
  text-decoration: none;
  color: #222;
}

.f-info-links a:hover {
  text-decoration: underline;
  color: #222;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.25rem;
  margin-right: 1rem;
}

.f-info {
  height: 8rem;
  text-align: center;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  margin-top: 12px;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 1rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 500;
}

.listing-link {
  text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.red-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Page */
.show-img {
  height: 50vh;
}

.btns {
  display: flex;
}

/* Edit Page */
.preview-image {
  height: 200px;
  width: 300px;
}

/* Map */
#map {
  height: 400px;
  width: 100vh;
  left: 50px;
}

.mapboxgl-popup-content {
  width: fit-content;
  margin: 0;
  padding: 10px !important;
  white-space: nowrap;
}

.pop-content {
  padding-right: 10px;
  margin: 0;
  font-size: 16px;
}
